<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Universidad Icesi - Mateo Matta </title>
  </head>
  <body>
    <h1>Hello from {{print_hostname.stdout}}!</h1>
    <a href="https://ibb.co/XpCHLh0"><img src="https://i.ibb.co/vmj9q7y/imagen-Html.png" alt="imagen-Html" border="0"></a>
  </body>
</html>
